<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6 mt-5">
    <p _ngcontent-dwv-c1="" style="font-size: large;"> Coronavirus disease 2019 (COVID-19) is an infectious disease
      caused by severe acute respiratory syndrome coronavirus 2 (SARS-CoV-2).[9] It was first identified in December 2019
      in Wuhan, China, and has resulted in an ongoing pandemic.[10][11] The first case may be traced back to 17 November 2019.
      [12] As of 14 June 2020, more than 7.81 million cases have been reported across 188 countries and territories, resulting
      in more than 430,000 deaths. More than 3.72 million people have recovered.[8] Common symptoms include fever, cough, fatigue,
      shortness of breath, and loss of smell and taste.[5][6][13] While the majority of cases result in mild symptoms, some
      progress to acute respiratory distress syndrome (ARDS) possibly precipitated by cytokine storm,[14] multi-organ failure,
      septic shock, and blood clots.[15][16][17] The time from exposure to onset of symptoms is typically around five days, but may
      range from two to fourteen days.
    </p>
    <p><b>[Signup or Login to see Covid 19 Detailed Statistics for India and all its states and districts]</b></p>
  </div>
  <div class="col-md-3"></div>
</div>
